<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental - Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">Welcome to Car Rental</h1>
        
        <div class="text-center">
            <a href="/register" class="btn btn-primary btn-lg">Sign Up</a>
            <a href="/login" class="btn btn-secondary btn-lg">Log In</a>
        </div>

        <h2 class="my-4">Available Cars</h2>
        <div class="row" id="cars-list">
            <!-- Cars will be dynamically inserted here -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

